* {
    padding: 0px;
    margin: 0px;
}
body {
    position: absolute;
    width: 100%;
    overflow-x: hidden;
}
.container0 {
    position: absolute;
    top: -1.7rem;
    left: -100%;
    background-color: rgba(0, 128, 0, 0.297);
    margin-top: 10vh;
    height: calc(80vh + 13.333333333vh);
    width: 80vw;
    margin-left: 10vw;
    border: 1px solid black;
    box-shadow: 0px 0px 2px;
}
.container1 {
    position: absolute;
    top: -1.7rem;
    background-color: rgba(0, 128, 0, 0.297);
    margin-top: 10vh;
    height: calc(80vh + 13.333333333vh);
    width: 80vw;
    margin-left: 10vw;
    border: 1px solid black;
    box-shadow: 0px 0px 2px;
}
.container2 {
    position: absolute;
    top: -1.7rem;
    left: 100%;
    background-color: rgba(0, 128, 0, 0.297);
    margin-top: 10vh;
    height: calc(80vh + 13.333333333vh);
    width: 80vw;
    margin-left: 10vw;
    border: 1px solid black;
    box-shadow: 0px 0px 2px;
}
@keyframes slide_right {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(125%);
    }
}
@keyframes slide_left {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-125%);
    }
}
@keyframes click {
    from {
        transform: translateX(0%);
        transform: translateY(0rem);
    }
    to {
        transform: translateX(2rem);
        transform: translateY(2rem);
    }
}
#control {
    width: 100vw;
    position: relative;
    height: 1rem;
}
button{
    border: 2px solid black;
    background-color: white;
    padding: 0.5rem 1%;
    position: absolute;
}
button:first-child {
    left: 2vw;
    top: 0rem;
}
button:nth-child(3) {
    right: 2vw;
    top: 0rem;
}
#date_output {
    position: absolute;
    left: 45vw;
    top: 0.2rem;
}
.month {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    width: 11.428571429vw;
    height: 13.333333333vh;
    border: 1px solid black;
    left: calc(var(--horizontal) * 11.428571429vw);
    top: calc(var(--vertical)*1vh);
}
.month > p:first-child {
    position:  absolute;
    left: 4vw;
}
.month > p:nth-child(2) {
    position:  absolute;
    left: 4.75vw;
    top: 4vh;
}
.month > p:nth-child(3) {
    position:  absolute;
    left: 4vw;
    top: 8vh;
}
.current_date_style {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    width: 11.428571429vw;
    height: 13.333333333vh;
    border: 1px solid black;
    background-color: rgb(75, 196, 38);
}

/*the month that apearace don't look good*/
.month_shifted {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    width: 11.428571429vw;
    height: 13.333333333vh;
    border: 1px solid black;
    left: calc(var(--horizontal) * 11.428571429vw);
    top: calc(var(--vertical)*1vh);
}
.month_shifted > p:first-child {
    position:  absolute;
    left: 4.3vw;
}
.month_shifted > p:nth-child(2) {
    position:  absolute;
    left: 4.75vw;
    top: 4vh;
}
.month_shifted > p:nth-child(3) {
    position:  absolute;
    left: 4vw;
    top: 8vh;
}
.days_of_week{
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    width: 11.428571429vw;
    height: 13.333333333vh;
    border: 1px solid black;
    left: calc((var(--horizontal) + 1) * 11.428571429vw);
    top: calc(var(--vertical)*1vh);
}
.days_of_week > p{
    position: absolute;
    font-size: 1.2rem;
    left: 9vh;
    top: 5vh;
    color: #146714;
}